[tools]
bat = "latest" # Cat with syntax highlighting
delta = "latest" # Git diff
{{if eq .chezmoi.arch "arm64" }}
"github:bootandy/dust" = "v1.2.3" # Disk usage. Read directly from GitHub for arm64
{{ else }}
dust = "latest" # Disk usage
{{ end }}
eza = "latest" # Better ls
fd = "latest" # File finder
just = "latest" # Task runner
gh = "latest" # GitHub CLI
jj = "latest" # Source control
uv = "latest" # Package manager
yazi = "latest" # File browser
zoxide = "latest" # Smarter CD
chezmoi = "latest" # Dotfile manager
ripgrep = "latest" # Fast grep

[env]
AZCOPY_AUTO_LOGIN_TYPE = "AZCLI"
BAT_THEME = "TwoDark"
PAGER = "delta"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]
