[tools]
bat = "latest" # Cat with syntax highlighting
delta = "latest" # Git diff
{{if eq .chezmoi.arch "amd64" }}
dust = "latest" # Disk usage. Not available for arm64, only amd64
{{ end }}
eza = "latest" # Better ls
fd = "latest" # File finder
just = "latest" # Task runner
gh = "latest" # GitHub CLI
jj = "latest" # Source control
uv = "latest" # Package manager
yazi = "latest" # File browser
zoxide = "latest" # Smarter CD
chezmoi = "latest" # Dotfile manager

[env]
AZCOPY_AUTO_LOGIN_TYPE = "AZCLI"
BAT_THEME = "TwoDark"
PAGER = "delta"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]
